/MC_1_Materials_3-30-2011/MC1_Dataset_README.doc
/MC_1_Materials_3-30-2011/MC1_Dataset_README.docx
/MC_1_Materials_3-30-2011/Microblogs.csv
/MC_1_Materials_3-30-2011/Population.csv
/MC_1_Materials_3-30-2011/Vastopolis_Map.png
/MC_1_Materials_3-30-2011/Weather.csv
