#left-part{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 450px;
}

#right-part{
  position: absolute;
  width: 400px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

#map-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 200px;
}




#map-svg{
	position: absolute;
}

#map-img{
  height: 100%;
}

.status-node{
	fill: rgba(255, 255, 51, 0.8);
  stroke: #333;
}

/*timeline*/

#timeline {
  position: absolute;
  left: 0px;
  right: 200px;
  height: 200px;
  bottom: 0px;
  margin-top: 20px;
  font-size: 10px;
}

#timeline path {
  fill: steelblue;
}

#timeline .axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#timeline .brush .extent {
  stroke: #fff;
  fill-opacity: .4;
  shape-rendering: crispEdges;
}


#word-list-wapper {
  width: 30%;
  float: right;
  height: 600px;
}


/*tipsy*/

.tipsy { font-size: 12px; position: absolute; padding: 5px; z-index: 100000;}
.tipsy-inner { background-color: rgba(201, 225, 237, 0.9); color: black; width: 200px; padding: 5px 8px 4px 8px; }

/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/* Uncomment for shadow */
.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #CCC; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #CCC; }
.tipsy-arrow-s { border-top-color: #CCC; }
.tipsy-arrow-e { border-left-color: #CCC; }
.tipsy-arrow-w { border-right-color: #CCc; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

.tip-time {margin-left: 30px;}

.selected {
  fill: #fff;
}

.extent{
  fill: rgba(220,220,220,0.5);
  stroke: rgba(20, 20, 20, 0.8);
}
.grid line {
  stroke: #555;
}
.grid line.minor {
  stroke-width: .5px;
}
.grid text {
  display: none;
}
.grid path{
  display: none;

}
#twitter-list {
  height: 60%;
  overflow: scroll;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  box-shadow: 0 0 1px #555;
}

#twitter-list table {
  border-collapse: collapse;
  border: 1px solid #aaa;
}
#twitter-list td, #twitter-list th {
  font-size:1em;
  border:1px solid #aaa;
  padding:3px 7px 2px 7px;
}

#twitter-list th {
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
 }

#twitter-list tr.alt td {
  color: #000000;
  background-color: #EAF2D3;
}


#word-cloud {
  overflow: hidden;
  height: 35%;

}

#word-cloud span {
	cursor: pointer;
/*	float:left;*/
  margin-left: 2px;
  margin-right: 2px;

}


#heatmap-compare{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}


#heatmap-compare {
  background-color: #eee;
  overflow: scroll;
}

.heatmap-compare-img {
  box-shadow: 0 0 5px #000000; 
  -webkit-box-shadow: 0 0 5px #000000; 
  -moz-box-shadow: 0 0 5px #000000;
}

.heatmap-compare-map {
  box-shadow: 0 0 5px #000000; 
  -webkit-box-shadow: 0 0 5px #000000; 
  -moz-box-shadow: 0 0 5px #000000;
}

/*.heat-compare-map-img{
  width: 100%;
  height: 100%;
}*/


.button, .button:visited {
  background: steelblue;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  /*text-shadow: 0 -1px 1px rgba(0,0,0,0.25);*/
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
